<div class="aboutheader">
    <img src="/assets/aboutbg.png" alt="" srcset="" id="abtebg">
<h1 class="txt" data-aos="fade-down" data-aos-once="true" data-aos-duration="1000"
data-aos-easing="ease-in-out">About Us</h1>
</div>
<div class="sizes">
    <div class="sizes1 siztext">
   <h1 style="color: #5694CB; padding-bottom: 40px; font-weight: bold;">We are the best
    Digitizing & Vector Art Services Provider
    </h1>
   <p>Gone are the days when design options for your outfit, business and everything else were limited to only what the market was offering, Well, not anymore! We at WorldEMB are now offering Finest Quality Designs of your choice on literally everything you can think of. Here, you will find yourself the best exquisite Embroidery Designing service of the town, we are also providing services including Vector Art conversion to ensure your photography stands out.</p>
    </div>
    <div class="sizes1 sizimage" >
     <img src="/assets/Abouti.png" alt="" width="100%">
    </div>
</div>
<div class="inc" (window:scroll)="onWindowScroll($event)">

    <div class="counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="employees">
                        <p class="counter-count" >1000</p> <span style="color: white; font-weight: bold; font-size: 20px;">+</span>
                        <p class="employee-p">HAPPY CLIENTS</p>
                        <p style="color: white;">Our portfolio has more than 500 works, and we have a proud clientele.
                        </p>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="customer">
                        <p class="counter-count" style="width: 30px;">97</p><span style="color: white; font-weight: bold; font-size: 20px;">%</span>
                        <p class="customer-p">RISK FREE GUARANTEE</p>
                        <p style="color: white;">Our portfolio has more than 500 works, and we have a proud clientele.
                        </p>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="design">
                        <p class="counter-count" style="width: 30px;">15</p><span style="color: white; font-weight: bold; font-size: 20px;">+</span>
                        <p class="design-p">YEARS OF EXPERIENCE</p>
                        <p style="color: white;">Our web design agency is changing how brands engage with their audiences by applying innovation and human behavior with extensive experience.
                            e.                            
                        </p>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="order">
                        <p class="counter-count" style="width: 40px;">24</p><span style="color: white; font-weight: bold; font-size: 20px;">/</span><p class="counter-count" style="width: 30px;">7</p>
                        <p class="order-p">EXPERT SUPPORT</p>
                        <p style="color: white;">We have been collaborating with companies from diverse industries for many years. Expert Support We have a dedicated team to support your round-the-clock needs.      
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="sizes">
    <div class="sizes1 sizimage" >
     <img src="/assets/aboutteam.png" alt="" width="100%">
    </div>
    <div class="sizes1 siztext" style="padding-left: 10%;">
        <h1 style="color: #5694CB; padding-bottom: 40px; font-weight: bold;">Get to know about us and relive our journey
         </h1>
        <p>Our work through the years and journey towards success is something we will always cherish. Let’s get connected with our team and understand how we work and deal with our clients.</p>
        <a class="btn btn-l butoon" href="#ourprocess">SEE OUR WORK PROCESS</a>
        <img id="aboutvec" src="/assets/aboutvec.png" alt="" srcset="" style="    right: 0;position: absolute;">
         </div>
</div>

<div class="sizes">
    <div class="sizes1 siztext sizetext3" style="padding-left: 10%;">
        <h1 style="color: #5694CB; padding-bottom: 40px; font-weight: bold;">Our Goal Statement
         </h1>
        <p>The Embroidery Digitizing family believes in action, progress, and growth. The young startup has achieved several milestones in its active years till now, but nothing keeps us from seeking more and more. Since more and more people seem to indulge in video, we aim to break our own record in hours of video produced. That's not all, we are also determined to become HubSpot Elite Partners by the end of 2022.
 
        </p>
        <a class="btn btn-l butoon" href="#ourprocess">SEE OUR WORK PROCESS</a>
         </div>
    <div class="sizes1 sizimage" style="
    z-index: 999;
    position: relative;
">
     <img src="/assets/aboutcors.png" alt="" width="100%">
    </div>
   
</div>

<div class="journey">
    <img id="boorder" src="/assets/boorder.png" alt="" srcset="">
<h3 class="jhead">We have come a long way</h3>

<div class="2018">
<img src="/assets/journey2.png" alt="" srcset="" style="width: 100%;">
<img id="sideleft" src="/assets/aboutl.png" alt="" srcset="">
</div>
</div>
<!--
<div class="readblog">
    <img src="/assets/aboutanbg.png" alt="" srcset="" id="readbb">
<h3 class="bloghead">Read Our Blogs</h3>
<div class="blogss">
    <div class="blg blg1">
        <img id="dates" src="/assets/blog5.png" alt="" srcset=""> 
<img src="/assets/blog3.png" alt="" height="60%" width="100%">
<p style="color: white;">How To Choose The Right Type Of Needle For Your Embroidery Machine</p>
<button class="btn btn-sm" style="background-color: #FFC200; color: white;">Read more</button>
    </div>
    <div class="blg blg2">
       <img id="dates" src="/assets/blog5.png" alt="" srcset=""> 
        <img src="/assets/blog1.png" alt="" height="60%" width="100%">
        <p style="color: white;">How To Choose The Right Type Of Needle For Your Embroidery Machine</p>
        <button class="btn btn-sm" style="background-color: #FFC200; color: white;">Read more</button>
    </div>
    <div class="blg blg3">
      <img id="dates" src="/assets/blog5.png" alt="" srcset=""> 
        <img src="/assets/blog2.png" alt="" height="60%" width="100%">
        <p style="color: white;">How To Choose The Right Type Of Needle For Your Embroidery Machine</p>
        <button class="btn btn-sm" style="background-color: #FFC200; color: white;">Read more</button>
    </div>

</div>
<button class="btn btn-viw" routerLink="/blogs">View all</button>
</div>-->
<div class="lastabt">
<h5 style="color: #08366D; font-weight: bold; padding-bottom: 20px;">Excited To See Our Quality? So Why Are You Waiting For? Order Now and GET 50% OFF On Your First Order
</h5>
<button class="btn btn-m" routerLink="/contact">Order Now</button>
</div>
