<!---.map-container{padding-bottom: 0}-->
<div class="pricing">
    <!--<img id="phead" src="/assets/Group 1713.png" alt="" srcset="">-->
    <img src="/assets/blogbg.png" alt="" srcset="" id="pricebg">
    <div class="pricetext">
        <h1 id="bloghead" data-aos="fade-down" data-aos-once="true" data-aos-duration="1000"
        data-aos-easing="ease-in-out">Read Our Blogs</h1>
    
    </div>
    <img id="pricingl" src="/assets/ourport2.png" alt="" srcset="">
    <img id="pricingr" src="/assets/ourport3.png" alt="" srcset="">
</div>
<div class="blogs">
<div class="bl blog1">
    <h2 style="color:#256CA8; font-weight: bold; text-decoration: underline;" >Recent Blogs</h2>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/blog5.png" alt="" srcset="" class="date">
            <h5 style="color:#256CA8; font-weight: bold; position: absolute; right: 0; padding: 15px;">June 16, 2022</h5>
            <img src="/assets/blog4.png" class="d-block w-100" alt="...">
            <h2>How To Choose The Right Type Of Needle For Your Embroidery Machine
            </h2>
            <button class="btn btn-sm" style="background-color: #FFC200;">Read Blog</button>
          </div>
          <div class="carousel-item">
            <img src="/assets/blog5.png" alt="" srcset="" class="date">
            <h5 style="color:#256CA8; font-weight: bold; position: absolute; right: 0; padding: 15px;">June 16, 2022</h5>

            <img src="/assets/blog2.png" class="d-block w-100" alt="...">
            <h2>How To Choose The Right Type Of Needle For Your Embroidery Machine
            </h2>
            <button class="btn btn-sm" style="background-color: #FFC200;">Read Blog</button>
          </div>
          <div class="carousel-item">
            <img src="/assets/blog5.png" alt="" srcset="" class="date">
            <h5 style="color:#256CA8; font-weight: bold; position: absolute; right: 0; padding: 15px;">June 16, 2022</h5>

            <img src="/assets/blog3.png" class="d-block w-100" alt="...">
            <h2>How To Choose The Right Type Of Needle For Your Embroidery Machine
            </h2>
            <button class="btn btn-sm" style="background-color: #FFC200;">Read Blog</button>
          </div>
          <div class="carousel-item">
            <img src="/assets/blog5.png" alt="" srcset="" class="date">
            <h5 style="color:#256CA8; font-weight: bold; position: absolute; right: 0; padding: 15px;">June 16, 2022</h5>

            <img src="/assets/blog4.png" class="d-block w-100" alt="...">
            <h2>How To Choose The Right Type Of Needle For Your Embroidery Machine
            </h2>
            <button class="btn btn-sm" style="background-color: #FFC200;">Read Blog</button>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true" style="color: black;"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<div class="bl blog2">
  <div class="blog21">
   
    <img src="/assets/blog4.png" class="d-block w-100" alt="...">
    <p>How To Choose The Right Type Of Needle For Your Embroidery Machine
    </p>
    <button class="btn btn-sm" style="background-color: #FFC200;">Read Blog</button>
  </div>
  <div class="blog22">
   
    <img src="/assets/blog4.png" class="d-block w-100" alt="...">
    <p>How To Choose The Right Type Of Needle For Your Embroidery Machine
    </p>
    <button class="btn btn-sm" style="background-color: #FFC200;">Read Blog</button>
  </div>
  <div class="blog23">
   
    <img src="/assets/blog2.png" class="d-block w-100" alt="...">
    <p>How To Choose The Right Type Of Needle For Your Embroidery Machine
    </p>
    <button class="btn btn-sm" style="background-color: #FFC200;">Read Blog</button>
  </div>
  <div class="blog24">
   
    <img src="/assets/blog3.png" class="d-block w-100" alt="...">
    <p>How To Choose The Right Type Of Needle For Your Embroidery Machine
    </p>
    <button class="btn btn-sm" style="background-color: #FFC200;">Read Blog</button>
  </div>
  <div class="pagination">
    <button class="btn btn-sm"> < </button>
<button class="btn btn-sm">1</button>
<button class="btn btn-sm">2</button>
<button class="btn btn-sm">3</button>
<button class="btn btn-sm">></button>
</div>
</div>
</div>
