
<div class="pricing">
    <!--<img id="phead" src="/assets/Group 1713.png" alt="" srcset="">-->
    <img src="/assets/embbg.png" alt="" srcset="" id="pricebg">
    <div class="pricetext" data-aos="fade-down" data-aos-once="true" data-aos-duration="1000"
    data-aos-easing="ease-in-out">
        <h1 class="h11">Custom embroidery digitizing<br> service for business.</h1>
        <button class="btn btn-m" routerLink="/contact">Consult an Expert</button>
    </div>
    <img id="pricingl" src="/assets/pricingl.png" alt="" srcset="">
    <img id="pricingr" src="/assets/pricingr.png" alt="" srcset="">
</div>
<div style="background-color: white;">
    <div class="services">
    <img id="bg-anim" src="/assets/BGanim.png" alt="" data-aos="fade-down" data-aos-once="true" data-aos-duration="1000"
        data-aos-easing="ease-in-out">
    <img src="/assets/Group 1666.png" style="margin-top: 11%;">
    <img src="/assets/Group 1654.png" style="right: 0;z-index: -1; position: absolute;" data-aos="fade-down"
        data-aos-once="true" data-aos-duration="1000" data-aos-easing="ease-in-out">
    <div class="servicescontainer">
        <div class="serv item1">
            <img class="hover-fx" src="/assets/Group 1657.png">
            <h5 style="font-weight: bold;">Emrboidery<br>
                Digitizing</h5>
                <p style="font-weight: bold;">WorldEMB is offering the best embroidery
                    digitizing service that will turn all your imagination about your outfit’s design into a magnificent
                     reality.
        </div>
        <div class="serv item1">
            <img class="hover-fx" src="/assets/Group 1658.png">
            <h5 style="font-weight: bold;">Vector Artwork <br>Conversion</h5>
            <p style="font-weight: bold;">We have dedicated graphic designers who make the use of modern graphic designing software and turn every picture into a high-quality mesmerizing masterpiece.
                
        </div>
        <div class="serv item1">
            <img class="hover-fx" src="/assets/Group 1659.png">
            <h5 style="font-weight: bold;">3d/Puff<br>
                Digitizing</h5>
                <p style="font-weight: bold;">Promoting Business in today’s competitive market is a challenge that every business faces, we at WorldEMB work in teams and specialize in 3D/Puff Digitizing.
        </div>
        <div class="serv item1">
            <img class="hover-fx" src="/assets/Group 1660.png">
            <h5 style="font-weight: bold;">Logo<br>
                Digitizing </h5>
                <p style="font-weight: bold;">The first thing of your business that will leave a positive impression on your customer is your Business Logo. An elegant logo is necessary in defining your business.
        </div>
        <div class="serv item1">
            <img class="hover-fx" src="/assets/Group 1661.png">
            <h5 style="font-weight: bold;">Cap<br>
                Digitizing</h5>
                <p style="font-weight: bold;">We offer high quality Caps & Jackets Digitizing service that will imprint high quality Embroidery Designs on your Caps & Jackets. The unique point of our service is the high-quality thread.
        </div>
        <div class="serv item1">
            <img class="hover-fx" src="/assets/Group 1662.png">
            <h5 style="font-weight: bold;">Jacket Back<br> Digitizing</h5>
            <p style="font-weight: bold;">We offer high quality Caps & Jackets Digitizing service that will imprint high quality Embroidery Designs on your Caps & Jackets. The unique point of our service is the high-quality thread.
        </div>
        <div class="serv item1">
            <img class="hover-fx" src="/assets/Group 1663.png">
            <h5 style="font-weight: bold;">Sleeve<br>
                Digitizing</h5>
                <p style="font-weight: bold;">We offer a special service of Sleeve Designing that can punch that logo you choose on your shirt, jacket or any sleeves, ensuring high quality & stylish designs.
        </div>
        <div class="serv item1">
            <img class="hover-fx" src="/assets/Group 1664.png">
            <h5 style="font-weight: bold;">Applique<br>
                Digitizing </h5>
                <p style="font-weight: bold;">If you are a member of a club or a part of a movement you always need high quality badges to complete your outfit and to make a strong impression.
        </div>

    </div>
    <img id="serv-thread" src="/assets/Vector 6.png" style="left: 0; margin-top: -20%; position: absolute;">
</div>
<div class="quality-assurance">
    <img id="qualbg" src="/assets/embrect.png" alt="" srcset="">
    <div class="quality item1">
        <h1 style="color: FFD551; font-weight: bold;">Quality meets your standards</h1><br>
        <p style="color: FFFFFF;">
            <img src="/assets/bullet.png" alt="" srcset="">&nbsp; &nbsp; &nbsp;&nbsp;Ensuring quality is not just a claim. For us, it’s a promise that we manage to keep every time. 
            <br><br>
            <img src="/assets/bullet.png" alt="" srcset="">&nbsp; &nbsp;&nbsp;&nbsp;Designs created with experience, not just software.
            Field-tested for every specific application.
            <br><br>
            <img src="/assets/bullet.png" alt="" srcset="">&nbsp; &nbsp;&nbsp;&nbsp;We keep checking on design for integrity, adaptability and flaws on every step in the process.

            <br><br>
            <img src="/assets/bullet.png" alt="" srcset="">&nbsp;&nbsp;&nbsp;&nbsp;Our skilled designers work to bring you the best artworks.
            <br><br>
            <img src="/assets/bullet.png" alt="" srcset="">&nbsp;&nbsp;&nbsp;&nbsp;Strict quality assurance process makes sure to deliver what you expect.
            <br><br>
            <img src="/assets/bullet.png" alt="" srcset="">&nbsp;&nbsp;&nbsp;&nbsp;Optimized design for better production smoothness.<br><br>
        </p>
    </div>
    <div class="quality item2">
        <img id="qualityimage" src="/assets/emb-service page_quality.png" alt="" srcset="">
    </div>
</div>
<div class="quality-assurance">
    <div class="quality item2" style="
    padding-right: 10%;
">
        <img id="qualityimage" src="/assets/embimage2.png" alt="" srcset="">
    </div>
    <div class="quality item1" style="
    margin-bottom: -60px;
">
        <h1 style="color: #246CAC; font-weight: bold;">Customized Digitizing packages for you</h1><br>
        <p>
            <img src="/assets/servbullet.png" alt="" srcset="">&nbsp; &nbsp; &nbsp;&nbsp;Turnaround time if one of the elements, we try to decrease it to fulfil your goals. A few things we do to achieve that.

            <br><br>
            <img src="/assets/servbullet.png" alt="" srcset="">&nbsp; &nbsp;&nbsp;&nbsp;We don't overcommit, so your design won't delay.
            Make your artwork accurate initially, saving time going back and forth.
            
            <br><br>
            <img src="/assets/servbullet.png" alt="" srcset="">&nbsp; &nbsp;&nbsp;&nbsp;Adequate workforce to process your orders in time.
            Reduced workload on designers to stay focused and deliver quicker.
            

            <br><br>
            <img src="/assets/servbullet.png" alt="" srcset="">&nbsp;&nbsp;&nbsp;&nbsp;Improvise our processes to produce faster.

            <br><br>
          
        </p>
    </div>
   
</div>
<div class="quality-assurance" >
    <img id="qualbg" src="/assets/embbg2.png" alt="" srcset="">
    <div class="quality item1" style="padding-top: 80px;">
        <h1 style="color: FFD551; font-weight: bold;">Cost Friendly Quotations</h1><br>
        <p style="color: FFFFFF;">
           When you win a deal, we win too. Our estimates can give you a basic idea of 
           how many stitches will a design take.
            <br><br>
         So, you can make your calculations and plan your quotes accordingly.
            <br><br>
           
        </p>
    </div>
    <div class="quality item2">
        <img id="qualityimage" src="/assets/emb-service page_cost friendly.png" alt="" srcset="">
    </div>
</div>
<div class="ordernow1">
    <img id="order1" src="/assets/embbg3.png" alt="">
    <h2 class="order1 ordertext1">Want To See Our Work?
    </h2>
    <button class="btn btn-m btn-button" routerLink="/contact">View Portfolio</button>
</div>
<div class="quality-assurance" >
    <div class="quality item2">
        <img id="qualityimage" src="/assets/emb-service page_production sheet 1.png" alt="" srcset="">
    </div>
    <div class="quality item1" style="padding-top: 80px;">
        <h1 style="color: #246CAC; font-weight: bold;">Production Sheets</h1><br>
        <p>
            All production-related information on a single worksheet helps you know what color, size, etc. you’re working with.

            
            <br><br>
            Production worksheets come with every design we make.
            <br><br>
           
        </p>
    </div>
    
</div>
<div class="embrioder">
<button class="btn btn-l btn-1" (click)="method()">Embroidery types</button>
<button class="btn btn-l btn-2"  (click)="type()">Embroidery Methods</button>
<div class="embtypes">
    <div class="type type1 tcom" *ngIf="types == 'true'">
<img id="typ" src="/assets/typ1.png" alt="" srcset="">
<h5 style="color: 
#08366D; font-weight: bold;">Monogram</h5>
<p>Create customized products for you clients with their initials or monograms.</p>
    </div>
    <div class="type type1 tcom" *ngIf="types == 'true'">
        <img id="typ" src="/assets/typ2.png" alt="" srcset="" >
        <h5 style="color:#08366D; font-weight: bold;">Logo</h5>
<p>Get business logos digitized for embroidery, keeping their appearance intact.</p>
    </div>
    <div class="type type1 tcom" *ngIf="types == 'true'">
        <img id="typ" src="/assets/typ3.png" alt="" srcset="">
        <h5 style="color:#08366D; font-weight: bold;">Photo</h5>
<p>Convert photos to embroidery with photo digitizing.</p>
    </div>
<!---Methods-->
<div class="type type1 tmob" *ngIf="methods == 'true'">
    <img id="typ" src="/assets/flatbed.png" alt="" srcset="">
    <h5 style="color: 
    #08366D; font-weight: bold;">Monogram</h5>
    <p>Create customized products for you clients with their initials or monograms.</p>
        </div>
        <div class="type type1 tmob" *ngIf="methods == 'true'">
            <img id="typ" src="/assets/cylindrical.png" alt="" srcset="" >
            <h5 style="color:#08366D; font-weight: bold;">Logo</h5>
    <p>Get business logos digitized for embroidery, keeping their appearance intact.</p>
        </div>
       


</div>
</div>


<div class="quality-assurance" >
    <div class="quality item2">
        <img id="qualityimage" src="/assets/emb-service page_file formats 1.png" alt="" srcset="">
    </div>
    <div class="quality item1" style="padding-top: 80px;">
        <h1 style="color: #246CAC; font-weight: bold;">Machine File Formats</h1><br>
        <p>
            Variety of file formats we can provide to you for maximum compatibility with your machine or software.

            
            <br><br>
        </p>
        <img src="/assets/embmachine.png" alt="" srcset="" width="100%">
    </div>
    
</div>
<app-newpricing></app-newpricing>

<div class="forms-cont">
    <div class="for-m fm1">
        <img src="/assets/icons_FAQ 1.png" alt="" srcset="" id="contmock">
            </div>
	<form action="" class="for-m fm2" method="post">
		<h3 class="wantques">Want to ask a question? Submit here</h3>
		  <div id="text">
		<input type="text" id="textin" name="name" [(ngModel)]="name"  placeholder="Your Name*" required><br>
		<span style="color: red;width: 85%;" *ngIf="name == ''&&submit == 'true'">Name is required</span></div>
		<div id="email" >
		<input type="email" id="emailin" name="email" [(ngModel)]="email" placeholder="Your Email*" required><br>
		<span style="color: red; width: 80%;" *ngIf="email == ''&&submit == 'true'">Email is required</span></div>
		<input type="number" name="phone" id="phone" [(ngModel)]="phone" placeholder="Your Phone Number*" required><br>
		
		<span style="color: red;" *ngIf="phone == ''&&submit == 'true'">Phone is required</span>
		<textarea name="inquiry" id="inquiry" cols="30" rows="10" [(ngModel)]="inquiry" placeholder="Your Inquiry*" required></textarea>
		<input type="file" id="file" name="file" (change)="onChange($event)" src=""[(ngModel)]="file" alt="">
		<button type="submit" class="btn btn-m" style="border:1px solid #5694CB; margin-left: 20px;" (click)="submits()">Submit</button>
		<div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="submit == 'true'&& email!=''&& name!=''&& phone!=''">
			<strong>Thanks for Contacting! We will be in touch with you shortly!.</strong> 
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		  </div>
		<!--  <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf=" submit == 'true'&& email==''&& name==''&& phone==''">
			<strong>Please fill the form!</strong> 
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		  </div>
		-->
	</form>
	
</div>
</div>

