
<div class="pricing">
    <!--<img id="phead" src="assets/Group 1713.png" alt="" srcset="">-->
    <img src="/assets/vartbg.png" alt="" srcset="" id="pricebg">
    <div class="pricetext" data-aos="fade-down" data-aos-once="true" data-aos-duration="1000"
    data-aos-easing="ease-in-out">
        <h1 class="h11">The most versatile <br> vectorizing service for business.</h1>
        <button class="btn btn-m" routerLink="/contact">Consult an Expert</button>
    </div>
    <img id="pricingl" src="/assets/pricingl.png" alt="" srcset="">
    <img id="pricingr" src="/assets/pricingr.png" alt="" srcset="">
</div>
<div style="background-color: white;">
    <div class="services">
    <img id="bg-anim" src="/assets/BGanim.png" alt="" data-aos="fade-down" data-aos-once="true" data-aos-duration="1000"
        data-aos-easing="ease-in-out">
    <img src="/assets/Group 1666.png" style="margin-top: 11%;">
    <img src="/assets/Group 1654.png" style="right: 0;z-index: -1; position: absolute;" data-aos="fade-down"
        data-aos-once="true" data-aos-duration="1000" data-aos-easing="ease-in-out">
    <div class="servicescontainer">
        <div class="serv item1">
            <img class="hover-fx" src="/assets/screenprinting.png">
            <h5 style="font-weight: bold; color: #256CA8;">Screen Printing<br></h5>
            <p style="font-weight: bold;">Develop your screens for printing and make the color registrations meet perfectly. </p>
        </div>
        <div class="serv item1">
            <img class="hover-fx" src="/assets/direct.png">
            <h5 style="font-weight: bold; color: #256CA8;">Direct-to-Garment</h5>
            <p style="font-weight: bold;">Spot color separations + CMYK composites for use with transfers and fabric printing.</p>
        </div>
        <div class="serv item1">
            <img class="hover-fx" src="/assets/dye.png">
            <h5 style="font-weight: bold; color: #256CA8;">Dye Sublimation</h5>
            <p style="font-weight: bold;">Spot color separations + CMYK composites for use with transfers and fabric printing.</p>
        </div>
        <div class="serv item1">
            <img class="hover-fx" src="/assets/laser.png">
            <h5 style="font-weight: bold; color: #256CA8;">Laser Cutting</h5>
            <p style="font-weight: bold;">Spot color separations + CMYK composites for use with transfers and fabric printing. </p>
        </div>
        <div class="serv item1">
            <img class="hover-fx" src="/assets/vinyl.png">
            <h5 style="font-weight: bold;  color: #256CA8;">Vinyl Cutting</h5>
            <p style="font-weight: bold;">Spot color separations + CMYK composites for use with transfers and fabric printing.</p>
        </div>
        <div class="serv item1">
            <img class="hover-fx" src="/assets/padprinting.png">
            <h5 style="font-weight: bold;  color: #256CA8;">Pad Printing</h5>
            <p style="font-weight: bold;">Provide ready-to-use artworks that work for your image plate supplier.</p>
        </div>
      

    </div>
 
</div>
<div class="viewport">
<h3 class="view port1">Want to see our work?</h3>
<button class="view port2" routerLink="/ourPortfolio">View Portfolio</button>
</div>
<div class="quality-assurance" >
    <div class="quality item1">
        <h1 style="color: #246CAC; font-weight: bold;">Quality meets<br> your standards</h1><br>
        <p>
            We develop vector artworks with the features you require to start processing your decoration.

            <br><br>
           
        </p>
    </div>
    <div class="quality item2">
        <img id="qualityimage" src="/assets/vquality.png" alt="" srcset="">
    </div>
    
    
</div>



<div class="quality-assurance qa2" >
    <div class="quality item2">
        <img id="qualityimage" src="/assets/vcolor.png" alt="" srcset="">
    </div>
    <div class="quality item1">
        <h1 style="color: #246CAC; font-weight: bold;">Color Format</h1><br>
        <p>
            Color systems we provide in our vectorization service.

            
            <br><br>
        </p>
    </div>
    
</div>
  

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="quality-assurance" >
            <div class="quality item1">
                <h1 style="color: #246CAC; font-weight: bold;">Universal File Format</h1><br>
                <p>
                    Vectorizing service that supports file formats for your software.
        
                    <br><br>
                   
                </p>
            </div>
            <div class="quality item2">
                <img id="qualityimage" src="/assets/vart3.png" alt="" srcset="">
            </div>
            
            
        </div>
      </div>
      <div class="carousel-item">
        <div class="quality-assurance" >
            <div class="quality item1">
                <h1 style="color: #246CAC; font-weight: bold;">Software Formats</h1><br>
                <p>
                    Vectorizing service that supports file formats for your software.
        
                    <br><br>
                   
                </p>
            </div>
            <div class="quality item2">
                <img id="qualityimage" src="/assets/vart4.png" alt="" srcset="">
            </div>
            
            
        </div>
      </div>
   
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="quality-assurance qalast" >
    
    <div class="quality item2" style=" position: relative;   z-index: 99999999;">
        <img id="qualityimage" src="/assets/vector_no auto tracing 1.png" alt="" srcset="">
    </div>
    <div class="quality item1" style=" position: relative;   z-index: 99999999;">
        <h1 style="color: #FFC727; font-weight: bold;">No-Auto Tracing</h1><br>
        <p style="color: white;">
            Auto-tracing is not for us, and we never use it. All the designs are made manually from scratch to ensure the end imprint product’s quality.
            <br><br>
           
        </p>
    </div>
    
    <img id="vbg2" src="/assets/vbg2.png" alt="" srcset="">
    
</div>


<app-vectorpricing></app-vectorpricing>

<div class="forms-cont">
    <div class="for-m fm1">
        <img src="assets/icons_FAQ 1.png" alt="" srcset="" id="contmock">
            </div>
	<form action="" class="for-m fm2" method="post">
		<h3 class="wantques">Want to ask a question? Submit here</h3>
		  <div id="text">
		<input type="text" id="textin" name="name" [(ngModel)]="name"  placeholder="Your Name*" required><br>
		<span style="color: red;width: 85%;" *ngIf="name == ''&&submit == 'true'">Name is required</span></div>
		<div id="email" >
		<input type="email" id="emailin" name="email" [(ngModel)]="email" placeholder="Your Email*" required><br>
		<span style="color: red; width: 80%;" *ngIf="email == ''&&submit == 'true'">Email is required</span></div>
		<input type="number" name="phone" id="phone" [(ngModel)]="phone" placeholder="Your Phone Number*" required><br>
		
		<span style="color: red;" *ngIf="phone == ''&&submit == 'true'">Phone is required</span>
		<textarea name="inquiry" id="inquiry" cols="30" rows="10" [(ngModel)]="inquiry" placeholder="Your Inquiry*" required></textarea>
		<input type="file" id="file" name="file" (change)="onChange($event)" src=""[(ngModel)]="file" alt="">
		<button type="submit" class="btn btn-m" style="border:1px solid #5694CB; margin-left: 20px;" (click)="submits()">Submit</button>
		<div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="submit == 'true'&& email!=''&& name!=''&& phone!=''">
			<strong>Thanks for Contacting! We will be in touch with you shortly.</strong> 
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		  </div>
		<!--  <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf=" submit == 'true'&& email==''&& name==''&& phone==''">
			<strong>Please fill the form!</strong> 
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		  </div>
		-->
	</form>
	
</div>
</div>

