<div class="mainport">
<div class="portfolio">
    <div class="folio folio1">
        
        <img class="imageport" src="/assets/Our PORTFOLIO.png" alt="" srcset="" height="40%" width="100%">
    </div>
   
    <div class="folio folio3">
        <img src="/assets/OR-DO27366-J-.png" alt="" srcset="" height="100%" width="100%">
    </div>
    <div class="folio folio4">
        <img src="/assets/fol3.png" alt="" srcset="" height="100%" width="100%">
    </div>
    <div class="folio folio5">
        <img src="/assets/OR-DO27365-KOBE.png" alt="" srcset="" height="100%" width="100%">
    </div>
    <div class="folio folio6">
        <img src="/assets/fol5.png" alt="" srcset="" height="100%" width="100%">
    </div>
    <div class="folio folio7">
        <img src="/assets/OR-DO27790_Teddy_Design.png" alt="" srcset="" height="100%" width="100%">
    </div>
    <div class="folio folio8">
        <img src="/assets/OR-DO28575-Dog-Face.png" alt="" srcset="" height="100%" width="100%">
    </div>
    <div class="folio folio9">
        <img src="/assets/OR-DO27366-Colorful-Lion.png" alt="" srcset="" height="100%" width="100%">
    </div>
    <div class="folio folio9">
        <img src="/assets/fol2.png" alt="" srcset="" height="100%" width="100%">
    </div>
    <div class="folio folio10">
        <img src="/assets/OR-DO28114-Young-Dolph.png" alt="" srcset="" height="100%" width="100%">
    </div>


</div>
<img class="but" src="/assets/seeall.png" routerLink="/ourPortfolio" alt="" srcset="">
</div>