<div class="pricing">
    <!--<img id="phead" src="/assets/Group 1713.png" alt="" srcset="">-->
    <img src="/assets/pricebg.png" alt="" srcset="" id="pricebg">
    <div class="pricetext"  data-aos="slide-down" data-aos-once="true" data-aos-duration="1000"
    data-aos-easing="ease-in-out">
        <h1 class="h11">Plans and Pricing</h1>
        <button class="btn" routerLink="/contact">Consult an Expert</button>
    </div>
    <img id="pricingl" src="/assets/pricingl.png" alt="" srcset="">
    <img id="pricingr" src="/assets/pricingr.png" alt="" srcset="">
</div>
<!--
<div class="plans">
    <div class="pl pl1">
        <img src="/assets/p1head.png" alt="" srcset="" height=100% width=100% style="z-index: -1;">
    </div>
    <div class="pl pl1">
        <img src="/assets/p2head.png" alt="" srcset="" height=100% width=100%>
    </div>
    <div class="pl pl1">
        <img src="/assets/p3head.png" alt="" srcset="" height=100% width=100%>
    </div>
    <div class="pl pl1">
        <img src="/assets/p4head.png" alt="" srcset="" height=100% width=100%>
    </div>
    <div class="pl pl1">
        <img src="/assets/p5head.png" alt="" srcset="" height=100% width=100%>
    </div>
    <div class="pl pl1">
        <img src="/assets/p6head.png" alt="" srcset="" height=100% width=100%>
    </div>
    <div class="pl pl1">
        <img src="/assets/p7head.png" alt="" srcset="" height=100% width=100%>
    </div>

</div> -->
<div class="forbg">
    <!--
<div class="custombtn">
    <img id="customimage" src="/assets/Vector 52.png" alt="" srcset=""> 
    <button type="button" class="btn btn-outline-primary cbut" (click)="custom()">Embroidery Digitizing</button>
    <button type="button" class="btn btn-outline-primary cbut" (click)="custom2()">Vector Art</button>
    <button type="button" class="btn btn-outline-primary cbut" (click)="custom3()">Logo Digitizing</button>
</div>

<div class="plan3" data-aos="fade-right"
data-aos-once="true" data-aos-duration="1000" data-aos-easing="ease-in-out">
    <div class="plan1 basic hover-fx" routerLink="/contact" >
        <div class="textpl">
            <br>
            <p  style="color: white;"*ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;World Embroidery Digitizing</p>
            <p style="color: white;" *ngIf="logo == 'true'" ><img src="/assets/tick.png" alt="" srcset="">&nbsp;&nbsp;Lorem ipsum dolor sit amet.</p>
            <p  style="color: white;"*ngIf="vart == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Vector Art Digitizing</p>
            <br>
            <p  style="color: white;"*ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;World Embroidery Digitizing</p>
            <p  style="color: white;"*ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Lorem ipsum dolor sit amet.</p>
            <p  style="color: white;"*ngIf="vart == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Vector Art Digitizing</p>
            <br>
            <p  style="color: white;"*ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;World Embroidery Digitizing</p>
            <p  style="color: white;"*ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Lorem ipsum dolor sit amet.</p>
            <p  style="color: white;"*ngIf="vart == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Vector Art Digitizing</p>
            <br>
            <p  style="color: white;"*ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;World Embroidery Digitizing</p>
            <p style="color: white;" *ngIf="logo == 'true'" ><img src="/assets/tick.png" alt="" srcset="">&nbsp;&nbsp;Lorem ipsum dolor sit amet.</p>
            <p  style="color: white;"*ngIf="vart == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Vector Art Digitizing</p>
            <br>
            <p  style="color: white;"*ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;World Embroidery Digitizing</p>
            <p  style="color: white;"*ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Lorem ipsum dolor sit amet.</p>
            <p  style="color: white;"*ngIf="vart == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Vector Art Digitizing</p>
            <br>
            <h1 style="color: #FFD551;">$10</h1>
            <h1 style="color:transparent;float: right; cursor: pointer; margin-right: 10%;">000000000 </h1>
        </div>


    </div>
    <div class="plan1 standard hover-fx"routerLink="/contact">
        <div class="textpl">
            <p style="color: white;" *ngIf="emb == 'false'" ><img src="/assets/tick.png" alt="" srcset="">&nbsp;&nbsp;Get 10 Designs</p>
            <p  style="color: white;"*ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Lorem ipsum dolor sit amet.</p>
            <p  style="color: white;"*ngIf="vart == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Vector Art Digitizing</p>
            <br>
            <p style="color: white;" *ngIf="emb == 'false'" ><img src="/assets/tick.png" alt="" srcset="">&nbsp;&nbsp;Turn Around time: 5-6 Hours</p>
            <p style="color: white;" *ngIf="logo == 'true'" ><img src="/assets/tick.png" alt="" srcset="">&nbsp;&nbsp;Lorem ipsum dolor sit amet.</p>
            <p style="color: white;" *ngIf="vart == 'true'" ><img src="/assets/tick.png" alt="" srcset="">&nbsp;&nbsp;Vector Art Digitizing</p>
            <br>
            <p style="color: white;" *ngIf="emb == 'false'" ><img src="/assets/tick.png" alt="" srcset="">&nbsp;&nbsp;Quality Check</p>
            <p style="color: white;" *ngIf="logo == 'true'" ><img src="/assets/tick.png" alt="" srcset="">&nbsp;&nbsp;Lorem ipsum dolor sit amet.</p>
            <p style="color: white;" *ngIf="vart == 'true'" ><img src="/assets/tick.png" alt="" srcset="">&nbsp;&nbsp;Vector Art Digitizing</p>
            <br>
            <p style="color: white;" *ngIf="emb == 'false'" ><img src="/assets/tick.png" alt="" srcset="">&nbsp;&nbsp;Revisions: 2</p>
            <p style="color: white;" *ngIf="logo == 'true'" ><img src="/assets/tick.png" alt="" srcset="">&nbsp;&nbsp;Lorem ipsum dolor sit amet.</p>
            <p style="color: white;" *ngIf="vart == 'true'" ><img src="/assets/tick.png" alt="" srcset="">&nbsp;&nbsp;Vector Art Digitizing</p>
            <br>
            <p style="color: white;" *ngIf="emb == 'false'" ><img src="/assets/tick.png" alt="" srcset="">&nbsp;&nbsp;Source File</p>
            <p style="color: white;" *ngIf="logo == 'true'" ><img src="/assets/tick.png" alt="" srcset="">&nbsp;&nbsp;Lorem ipsum dolor sit amet.</p>
            <p style="color: white;" *ngIf="vart == 'true'" ><img src="/assets/tick.png" alt="" srcset="">&nbsp;&nbsp;Vector Art Digitizing</p>
            <br><span style="font-size: small;">25% OFF</span>
            <h1 style="color: #FFD551;">$105<span style="font-size: small;
                text-decoration: line-through;">$150</span></h1>
            <h1 style="color: transparent; float: right; margin-right: 10%; cursor: pointer;">00000000</h1>
        </div>

    </div>
    <div class="plan1 premium hover-fx"routerLink="/contact">
        <div class="textpl">
            <br>
            <p  style="color: white;"*ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;World Embroidery Digitizing</p>
            <p  style="color: white;"*ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Lorem ipsum dolor sit amet.</p>
            <p  style="color: white;"*ngIf="vart == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Vector Art Digitizing</p>
            <br>
            <p  style="color: white;"*ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;World Embroidery Digitizing</p>
            <p  style="color: white;"*ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Lorem ipsum dolor sit amet.</p>
            <p style="color: white;" *ngIf="vart == 'true'" ><img src="/assets/tick.png" alt="" srcset="">&nbsp;&nbsp;Vector Art Digitizing</p>
            <br>
            <p style="color: white;" *ngIf="emb == 'false'" ><img src="/assets/tick.png" alt="" srcset="">&nbsp;&nbsp;World Embroidery Digitizing</p>
            <p style="color: white;" *ngIf="logo == 'true'" ><img src="/assets/tick.png" alt="" srcset="">&nbsp;&nbsp;Lorem ipsum dolor sit amet.</p>
            <p style="color: white;" *ngIf="vart == 'true'" ><img src="/assets/tick.png" alt="" srcset="">&nbsp;&nbsp;Vector Art Digitizing</p>
            <br>
            <p style="color: white;" *ngIf="emb == 'false'" ><img src="/assets/tick.png" alt="" srcset="">&nbsp;&nbsp;World Embroidery Digitizing</p>
            <p style="color: white;" *ngIf="logo == 'true'" ><img src="/assets/tick.png" alt="" srcset="">&nbsp;&nbsp;Lorem ipsum dolor sit amet.</p>
            <p style="color: white;" *ngIf="vart == 'true'" ><img src="/assets/tick.png" alt="" srcset="">&nbsp;&nbsp;Vector Art Digitizing</p>
            <br>
            <p style="color: white;" *ngIf="emb == 'false'" ><img src="/assets/tick.png" alt="" srcset="">&nbsp;&nbsp;World Embroidery Digitizing</p>
            <p style="color: white;" *ngIf="logo == 'true'" ><img src="/assets/tick.png" alt="" srcset="">&nbsp;&nbsp;Lorem ipsum dolor sit amet.</p>
            <p style="color: white;" *ngIf="vart == 'true'" ><img src="/assets/tick.png" alt="" srcset="">&nbsp;&nbsp;Vector Art Digitizing</p>
            <br>
            <h1 style="color: #FFD551;">$10</h1>
            <h1 style="color: transparent;float: right; margin-right: 10%; cursor: pointer;"> 0000000 </h1>
        </div>

    </div>
    <img id="planv" src="/assets/planv.png" alt="">
</div> -->

<app-mainpricing></app-mainpricing>

</div>




<div class="faqs">
    <img id="faqimg" src="/assets/faqs.png" alt="" srcset="">
</div>
<div class="questions">
    <div class="ques q1">
        <div class="btn-group">
            <button id="resp2" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                data-bs-display="static" aria-expanded="false">
                What Embroidery Machine File Formats can Sole<br> Digitizing supply?
            </button>
            <button id="respbtn" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                data-bs-display="static" aria-expanded="false">
                What Embroidery Machine<br> File Formats can Sole<br> Digitizing supply?
            </button>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                <li><button id="resp2" class="dropdown-item" type="button">We can provide every possible formats for the machine embroidery<br> such as
                     Dst, Pes, Hus, Vp3, Vp4, Vip, XXX, Pulse PXF, POF, Jef, Exp, Cnd, etc</button>
                     <button id="respbtn" style="margin-left: 10%; background-color: white;" class="dropdown-item" type="button">We can provide every possible formats<br> for the machine embroidery such as<br>
                        Dst, Pes, Hus, Vp3, Vp4, Vip, XXX,<br> Pulse PXF, POF, Jef, Exp, Cnd, etc</button>
                    </li>
               <!-- <li><button class="dropdown-item" type="button">Another action</button></li>
                <li><button class="dropdown-item" type="button">Something else here</button></li>-->
            </ul>
        </div>
    </div>
    <div class="ques q2">
        <div class="btn-group">
            <button id="resp2" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                data-bs-display="static" aria-expanded="false">
                Do you provide digitally created illustrations of the<br> digitized designs?
            </button>
            <button id="respbtn" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                data-bs-display="static" aria-expanded="false">
                Do you provide digitally<br> created illustrations of the<br> digitized designs?
            </button>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                <li><button id="resp2" class="dropdown-item" type="button">Yes, we can provide high resolution printable file of the digitized file.</button>
                    <button id="respbtn" style="margin-left: 10%; background-color: white;" class="dropdown-item" type="button">Yes, we can provide high resolution<br> printable file of the digitized file.</button></li>
             <!--   <li><button class="dropdown-item" type="button">Another action</button></li>
                <li><button class="dropdown-item" type="button">Something else here</button></li> -->
            </ul>
        </div>
    </div>
    <div class="ques q3">
        <div class="btn-group">
            <button id="resp2" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                data-bs-display="static" aria-expanded="false">
                What artwork/image file formats can I send<br> Sole Digitizing to digitize?
            </button>
            <button id="respbtn" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                data-bs-display="static" aria-expanded="false">
                What artwork/image<br> file formats can I send<br> Sole Digitizing to digitize?
            </button>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                <li><button id="resp2" class="dropdown-item" type="button">You can send us your artwork in any
                    format like Ai, jpeg, png, cdr, eps, svg etc.</button>
                    <button id="respbtn" style="margin-left: 10%; background-color: white;" class="dropdown-item" type="button">You can send us your artwork<br> in any
                        format like Ai, jpeg, png,<br> cdr, eps, svg etc.</button></li>
           <!--     <li><button class="dropdown-item" type="button">Another action</button></li>
                <li><button class="dropdown-item" type="button">Something else here</button></li> -->
            </ul>
        </div>
    </div>
    <div class="ques q4">
        <div class="btn-group">
            <button id="resp2" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                data-bs-display="static" aria-expanded="false">
                Do you accept credit card/payment information<br> over the phone or by email?
            </button>
            <button id="respbtn" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                data-bs-display="static" aria-expanded="false">
                Do you accept credit<br> card/payment information<br> over the phone or by email?
            </button>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                <li><button  id="resp2" class="dropdown-item" type="button"> Yes, We accept payment via C.C, We will send you the invoice and you <br>will make the payment by putting your information byyourself.</button>
                    <button id="respbtn" style="margin-left: 10%; background-color: white;"  class="dropdown-item" type="button"> Yes, We accept payment via C.C,<br> We will send you the invoice and you <br>will make the payment by putting<br> your information byyourself.</button></li>
               <!-- <li><button class="dropdown-item" type="button">Another action</button></li>
                <li><button class="dropdown-item" type="button">Something else here</button></li>-->
            </ul>
        </div>
    </div>
    <div class="ques q4">
        <div class="btn-group">
            <button id="resp2" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                data-bs-display="static" aria-expanded="false">
                How do I request an edit?
            </button>
            <button id="respbtn" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                data-bs-display="static" aria-expanded="false">
                How do I request an edit?
            </button>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                <li><button id="resp2" class="dropdown-item" type="button">You can always ask for the edit via our support email and<br> you will get your design edit done ASAP.</button>
                    <button id="respbtn" style="margin-left: 10%; background-color: white;" class="dropdown-item" type="button">You can always ask for the edit<br> via our support email and<br> you will get your design edit done ASAP.</button></li>
              <!--  <li><button class="dropdown-item" type="button">Another action</button></li>
                <li><button class="dropdown-item" type="button">Something else here</button></li> -->
            </ul>
        </div>
    </div>
    <div class="ques q4">
        <div class="btn-group">
            <button id="resp2" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                data-bs-display="static" aria-expanded="false">
                What is the turn-around time to receive an <br>ordered embroidery file?

            </button>
            <button id="respbtn" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                data-bs-display="static" aria-expanded="false">
                What is the turn-around<br> time to receive an <br>ordered embroidery file?

            </button>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                <li><button id="resp2" class="dropdown-item" type="button">Our normal turnaround time is 6 to 12 hours in weekdays<br> however we can provide the rush services within 2 to 3 hours.</button>
                    <button id="respbtn" style="margin-left: 10%; background-color: white;" class="dropdown-item" type="button">Our normal turnaround time is 6 to 12 hours<br> in weekdays however we can provide the<br> rush services within 2 to 3 hours.</button></li>
              <!--  <li><button class="dropdown-item" type="button">Another action</button></li>
                <li><button class="dropdown-item" type="button">Something else here</button></li> -->
            </ul>
        </div>
    </div>
</div>

<div class="compared">
    <div class="compheading">     
    <img id="comphead" class="comphead1" src="/assets/headingcomp.png" alt="" srcset="">
    <img id="comphead" class="comphead2" src="/assets/headv.png" alt="" srcset="">
</div>

<div class="comp3">
   
<img id="flat" style="margin: 20px;" src="/assets/Group 1728.png" alt="">
<img id="flat"  style="margin: 20px;" src="/assets/Group 1729.png" alt="">
<img id="flat" style="margin: 20px;" src="/assets/Group 1730.png" alt="">  
</div>
    <div class="table-responsive tbcom">
        <table class="table table text-successtable-border border-light">
          <thead class="border-light">
            <tr>
              <th scope="col"></th>
              <th scope="col"><strong>Basic</strong></th>
              <th scope="col"><strong>Standard</strong></th>
              <th scope="col"><strong>Premium</strong></th>
              <th scope="col"><strong>Managed</strong></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Upto 100 Products</th>
              <td><i class="fas fa-check"></i></td>
              <td><i class="fas fa-check"></i></td>
              <td><i class="fas fa-check"></i></td>
              <td><i class="fas fa-check"></i></td>
            </tr>
            <tr>
              <th scope="row">Product Details Page Design</th>
              <td><i class="fas fa-check"></i></td>
              <td><i class="fas fa-check"></i></td>
              <td><i class="fas fa-check"></i></td>
              <td><i class="fas fa-check"></i></td>
            </tr>
            <tr>
              <th scope="row">Content Management System</th>
              <td><i class="fas fa-check"></i></td>
              <td><i class="fas fa-check"></i></td>
              <td><i class="fas fa-check"></i></td>
              <td><i class="fas fa-check"></i></td>
            </tr>
            <tr>
              <th scope="row">Integrated Shopping Cart</th>
              <td>-</td>
              <td>-</td>
              <td><i class="fas fa-check"></i></td>
              <td><i class="fas fa-check"></i></td>
            </tr>
            <tr>
            <tr>
            <th scope="row">Product Ratings and Review</th>
                <td>-</td>
                <td>-</td>
                <td><i class="fas fa-check"></i></td>
                <td><i class="fas fa-check"></i></td>
            </tr>
            <tr>
                <th scope="row">Product Search Bar</th>
                <td>-</td>
                <td><i class="fas fa-check"></i></td>
                <td><i class="fas fa-check"></i></td>
                <td><i class="fas fa-check"></i></td>
              </tr>
              <tr>
                <tr>
                    <th scope="row">Payment Gateway Integration</th>
                    <td><i class="fas fa-check"></i></td>
                    <td><i class="fas fa-check"></i></td>
                    <td><i class="fas fa-check"></i></td>
                    <td><i class="fas fa-check"></i></td>
                  </tr>
                  <tr>
                  <tr>
              <th scope="row">Multiple Concurrency Support</th>
              <td><i class="fas fa-check"></i></td>
              <td><i class="fas fa-check"></i></td>
              <td><i class="fas fa-check"></i></td>
              <td><i class="fas fa-check"></i></td>
            </tr>
            <tr>
              <th scope="row">Integrated Mobile Module</th>
              <td><i class="fas fa-check"></i></td>
              <td><i class="fas fa-check"></i></td>
              <td><i class="fas fa-check"></i></td>
              <td><i class="fas fa-check"></i></td>
            </tr>
            <tr>
              <th class=""></th>
              <th class=""><button class="btn btn-primary"routerLink="/contact">Buy Now</button></th>
              <th class=""><button class="btn btn-primary"routerLink="/contact">Buy Now</button></th>
              <th class=""><button class="btn btn-primary" routerLink="/contact">Buy Now</button></th>
              <th class=""><button class="btn btn-primary" routerLink="/contact">Contact Us</button></th>
            </tr>
          </tbody>
        </table>
      </div>




      <div class="table-responsive tbmob">
        <div class="custombtn">
            <!--<img id="customimage" src="/assets/Vector 52.png" alt="" srcset=""> -->
            <button type="button" class="btn btn-outline-primary cbut" (click)="basic()">Basic</button>
            <button type="button" class="btn btn-outline-primary cbut" (click)="standard()">Standard</button>
            <button type="button" class="btn btn-outline-primary  cbut" (click)="premium()">Premium</button>
            <button type="button" class="btn btn-outline-primary  cbut" (click)="managed()">Managed</button>
        </div>
        <table class="table table text-successtable-border border-light">
          <thead class="border-light">
            <tr>
              <th scope="col"></th>
              <th scope="col"><strong>{{plan}}</strong></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Upto 100 Products</th>
              <td><i class="{{r1}}"></i></td>
            </tr>
            <tr>
              <th scope="row">Product Details Page Design</th>
              <td><i class="{{r2}}"></i></td>
            </tr>
            <tr>
              <th scope="row">Content Management System</th>
              <td><i class="{{r3}}"></i></td>
            </tr>
            <tr>
              <th scope="row">Integrated Shopping Cart</th>
              <td><i class="{{r4}}"></i></td>
            </tr>
            <tr>
            <tr>
            <th scope="row">Product Ratings and Review</th>
                <td><i class="{{r5}}"></i></td>
            </tr>
            <tr>
                <th scope="row">Product Search Bar</th>
                <td><i class="{{r6}}"></i></td>
              </tr>
              <tr>
                <tr>
                    <th scope="row">Payment Gateway Integration</th>
                    <td><i class="{{r7}}"></i></td>
                  </tr>
                  <tr>
                  <tr>
              <th scope="row">Multiple Concurrency Support</th>
              <td><i class="{{r8}}"></i></td>
            </tr>
            <tr>
              <th scope="row">Integrated Mobile Module</th>
              <td><i class="{{r9}}"></i></td>
            </tr>
            <tr>
              <th class=""></th>
              <th class=""><button class="btn btn-primary" routerLink="/contact">{{r11}}</button></th>
            </tr>
          </tbody>
        </table>
      </div>
</div>