<div class="wholepric">
    <div class="custombtn">
        <!--<img id="customimage" src="/assets/Vector 52.png" alt="" srcset=""> -->
        <button type="button" class="btn btn-outline-primary cbut" (click)="custom()">Embroidery Digitizing</button>
       <!--<button type="button" class="btn btn-outline-primary cbut" (click)="custom2()">Logo Digitizing</button>-->
        <button type="button" class="btn btn-outline-primary cbut" (click)="custom3()">Vector Art</button>
    </div>
    <div class="rates">
    <div class="rate rate1">
    <div class="text1">
        <p  style="color: white;" *ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;5 Designs</p>
        <p  style="color: white;" *ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Turn-around Time: 5-6 hours</p>
        <p  style="color: white;" *ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Unlimited Stiches</p>
        <p  style="color: white;" *ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Quality Check</p>
        <p  style="color: white;" *ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Minor Edits: 2 Times</p>
        <p  style="color: white;" *ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Revisions: 2 Times</p>
        <p  style="color: white;" *ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Color Changes: 2 Times</p>
        <p  style="color: white;" *ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Source File</p>
        <p  style="color: white;" *ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Size Change: 2 Times</p>

        <p  style="color: white;" *ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;5 Designs</p>
        <p  style="color: white;" *ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Turn-around Time: 3-4 hours</p>
        <p  style="color: white;" *ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Quality Check</p>
        <p  style="color: white;" *ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Minor Edits: 2 Times</p>
        <p  style="color: white;" *ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Revisions: 2 Times</p>
        <p  style="color: white;" *ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Color Changes: 2 Times</p>
        <p  style="color: white;" *ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Source File</p>
        <p  style="color: white;" *ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Size Change: 2 Times<br><br><br></p>
       
        <p  style="color: white;" *ngIf="vart == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Logo Digitizing</p>
        <p  style="color: white;" *ngIf="vart == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Logo Digitizing</p>
        <p  style="color: white;" *ngIf="vart == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Logo Digitizing</p>
        <p  style="color: white;" *ngIf="vart == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Logo Digitizing</p>
    
    </div>
    
    
    <div class="ordenn">
        <h2 class="dollar" >$60</h2>
    <p style=" padding-right: 10px;padding-top: 10px;  cursor: pointer; color: white;" routerLink="/contact">ORDER NOW</p>
    </div>
    </div>
    <div class="rate rate2">
        <div class="text1">
            <p  style="color: white;" *ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;10 Designs</p>
            <p  style="color: white;" *ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Turn-around Time: 3-4 hours</p>
            <p  style="color: white;" *ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Unlimited Stiches</p>
            <p  style="color: white;" *ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Quality Check</p>
            <p  style="color: white;" *ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Minor Edits: 2 Times</p>
            <p  style="color: white;" *ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Revisions: 2 Times</p>
            <p  style="color: white;" *ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Color Changes: 2 Times</p>
            <p  style="color: white;" *ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Source File</p>
            <p  style="color: white;" *ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Size Change: 2 Times</p>

            <p  style="color: white;" *ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;10 Designs</p>
            <p  style="color: white;" *ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Turn-around Time: 3-4 hours</p>
            <p  style="color: white;" *ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Quality Check</p>
            <p  style="color: white;" *ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Minor Edits: 2 Times</p>
            <p  style="color: white;" *ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Revisions: 2 Times</p>
            <p  style="color: white;" *ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Color Changes: 2 Times</p>
            <p  style="color: white;" *ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Source File</p>
            <p  style="color: white;" *ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Size Change: 2 Times<br><br><br></p>

            <p  style="color: white;" *ngIf="vart == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Logo Digitizing</p>
            <p  style="color: white;" *ngIf="vart == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Logo Digitizing</p>
            <p  style="color: white;" *ngIf="vart == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Logo Digitizing</p>
            <p  style="color: white;" *ngIf="vart == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Logo Digitizing</p>
        </div>
        <div class="ordenn" style="    margin-top: 60px;">
            <h2 class="dollar" >$105</h2>
        <p style=" padding-right: 10px;padding-top: 10px; cursor: pointer; color: white;" routerLink="/contact">ORDER NOW</p>
        </div>
    </div>
    <div class="rate rate3">
        <div class="text1">
            <p  style="color: white;" *ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;25 Designs</p>
            <p  style="color: white;" *ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Turn-around Time: 3-4 hours</p>
            <p  style="color: white;" *ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Unlimited Stiches</p>
            <p  style="color: white;" *ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Quality Check</p>
            <p  style="color: white;" *ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Unlimited Minor Edits</p>
            <p  style="color: white;" *ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Major Edits: 2 Times</p>
            <p  style="color: white;" *ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Revisions: 4 Times</p>
            <p  style="color: white;" *ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Unlimited Color Changes</p>
            <p  style="color: white;" *ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Unlimited Size Change</p>
            <p  style="color: white;" *ngIf="emb == 'false'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Source File</p>
        
            <p  style="color: white;" *ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;25 Designs</p>
            <p  style="color: white;" *ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Turn-around Time: 3-4 hours</p>
            <p  style="color: white;" *ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Quality Check</p>
            <p  style="color: white;" *ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Unlimited Minor Edits</p>
            <p  style="color: white;" *ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Major Edits: 3 Times</p>
            <p  style="color: white;" *ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Revisions: 6 Times</p>
            <p  style="color: white;" *ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Unlimited Color Changes</p>
            <p  style="color: white;" *ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Unlimited Size Change</p>
            <p  style="color: white;" *ngIf="logo == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Source File<br><br><br></p>

       
        <p  style="color: white;" *ngIf="vart == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Logo Digitizing</p>
        <p  style="color: white;" *ngIf="vart == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Logo Digitizing</p>
        <p  style="color: white;" *ngIf="vart == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Logo Digitizing</p>
        <p  style="color: white;" *ngIf="vart == 'true'"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;Logo Digitizing</p>
        </div>
        <div class="ordenn" style="margin-top: 25px;">
            <h2 class="dollar" >$210</h2>
        <p style=" padding-right: 10px;padding-top: 10px;  cursor: pointer; color: white;" routerLink="/contact">ORDER NOW</p>
        </div>
    </div>
    </div>
    
    </div>
