<div class="wholepric">
    <div class="pric">
        <img id="privec" src="/assets/pribg.png" alt="" srcset="">
        <img id="headv" src="/assets/headv.png" alt="" srcset="">
    <h1>Unbeatable Pricing</h1><br><br>
    </div>
    <div class="buttons">
    <div class="btn-m">Embroidery Digitizing</div>
    <div class="btn-m">Jacket Back Digitizing</div>
    <div class="btn-m">Vector Art Conversion</div>
    <div class="btn-m">Logo Digitzing</div>
    <div class="btn-m">3D/Puff Digitzing</div>
    <div class="btn-m">Cap Digitizing</div>
    <div class="btn-m">Applique  Digitzing</div>
    <div class="btn-m">Sleeve Digitizing</div>
    </div>
    <div class="rates">
    <div class="rate rate1">
    <div class="text1">
        <p  style="color: white;"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;World Embroidery Digitizing</p>
        <p  style="color: white;"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;World Embroidery Digitizing</p>
        <p  style="color: white;"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;World Embroidery Digitizing</p>
        <p  style="color: white;"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;World Embroidery Digitizing</p>
    
    
    </div>
    
    
    <div class="ordenn">
        <h2 class="dollar" >$10</h2>
    <p style=" padding-right: 10px; cursor: pointer;" routerLink="/contact">ORDER NOW</p>
    </div>
    </div>
    <div class="rate rate2">
        <div class="text1">
            <br>
            <p  style="color: white;"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;World Embroidery Digitizing</p>
            <p  style="color: white;"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;World Embroidery Digitizing</p>
            <p  style="color: white;"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;World Embroidery Digitizing</p>
            <p  style="color: white;"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;World Embroidery Digitizing</p>
        
        </div>
        <div class="ordenn" style="margin-top: 74px;">
            <h2 class="dollar" >$10</h2>
        <p style=" padding-right: 10px; cursor: pointer;" routerLink="/contact">ORDER NOW</p>
        </div>
    </div>
    <div class="rate rate3">
        <div class="text1">
            <p  style="color: white;"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;World Embroidery Digitizing</p>
            <p  style="color: white;"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;World Embroidery Digitizing</p>
            <p  style="color: white;"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;World Embroidery Digitizing</p>
            <p  style="color: white;"> <img src="/assets/tick.png" alt="" srcset="" >&nbsp;&nbsp;World Embroidery Digitizing</p>
        
        </div>
        <div class="ordenn">
            <h2 class="dollar" >$10</h2>
        <p style=" padding-right: 10px; cursor: pointer;" routerLink="/contact">ORDER NOW</p>
        </div>
    </div>
    </div>
    <div class="seeall">
    
    <button class="seepack" routerLink="/pricing">See All Packages</button>
    <img class="butvec" src="/assets/vectorwithbut.png" alt="" srcset="">
    <img class="vector22" src="/assets/Vector 22.png" alt="" srcset="">
    </div>
    
    </div>
