
<div class="cliental tech-slideshow">
    
    <img id="clientbg" src="/assets/Group 1674.png" alt="" srcset="">
<img id="bg-anim" src="/assets/BGanim2.png" alt="" data-aos="fade-down" data-aos-once="true" data-aos-duration="1000"
data-aos-easing="ease-in-out">
<img src="/assets/clinetsheading.png" style="margin-top: 5%;">

<!--CAROUSEL -->
<div id="carouselExampleControls" class="carousel slide lap" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-inner">
    <div class="carousel-item">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
         <a id="fbred" href="https://www.facebook.com/WorldEmb/reviews"> <div class="card h-100" >
            <img src="/assets/client1.jpg" class="rounded-circle" alt="Cinque Terre" width="100px" height="100px" style="margin-left: 35%;">
            <div class="card-body"  >
              <h5 class="card-title">Melisa Rios Monk</h5>
              <p class="card-text">Great to work with and very patient with client. 
Thank you again!</p>

              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
           
          </div></a>
        </div>
        <div class="col">
          <a id="fbred" href="https://www.facebook.com/WorldEmb/reviews"><div class="card h-100">
            <img src="/assets/client2.jpg" class="rounded-circle" alt="Cinque Terre" width="100px" height="100px" style="margin-left: 35%;">
            <div class="card-body">
              <h5 class="card-title">Jonie Mallett</h5>
              <p class="card-text">They do great work and have a fast turn around time. 
                Thank you!!</p>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </a>
        </div>
        <div class="col">
          <a id="fbred" href="https://www.facebook.com/WorldEmb/reviews"> <div class="card h-100">
            <img src="/assets/client3.jpg" class="rounded-circle" alt="Cinque Terre" width="100px" height="100px" style="margin-left: 35%;">
            <div class="card-body">
              <h5 class="card-title">Tasha Booke </h5>
              <p class="card-text">Quick response time and loved the way the image turned out.</p>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
             
            </div>
          </div></a>
        </div>
      </div>
      
    </div>
    <div class="carousel-item active">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <a id="fbred" href="https://www.facebook.com/WorldEmb/reviews">  <div class="card h-100">
            <img src="/assets/client4.jpg" class="rounded-circle" alt="Cinque Terre" width="100px" height="100px" style="margin-left: 35%;">
            <div class="card-body">
              <h5 class="card-title">Crystal Dahlhauser</h5>
              <p class="card-text">Wanted a file to make for my BFF’s, World  Embroidery got it done quick! Maria was wonderful to work with. 
                Thank you so much!</p>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              
            </div>
          </div></a>
        </div>
        <div class="col">
          <a id="fbred" href="https://www.facebook.com/WorldEmb/reviews"><div class="card h-100">
            <img src="/assets/client5.jpg" class="rounded-circle" alt="Cinque Terre" width="100px" height="100px" style="margin-left: 35%;">
            <div class="card-body">
              <h5 class="card-title">
                Kimberly Cook</h5>
              <p class="card-text">The customer service was top notch!
                The designs were ready in a timely fashion & when I asked for a modification after my test stitch out & the modification was made very quickly. </p>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              
            </div>
          </div></a>
        </div>
        <div class="col"> 
          <a id="fbred" href="https://www.facebook.com/WorldEmb/reviews">    <div class="card h-100">
            <img src="/assets/client6.jpg" class="rounded-circle" alt="Cinque Terre" width="100px" height="100px" style="margin-left: 35%;">
            <div class="card-body">
              <h5 class="card-title">Belinda Black </h5>
              <p class="card-text">Looked for a file on fb couldn't find one. Gia reached out to me and helped. The file turned out awesome. Highly recommend them.</p>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              
            </div>
          </div></a>
        </div>
      </div>
      
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!--CAROUSEL MOBILE-->
<div id="carouselExampleControls2" class="carousel slide mobile" data-bs-ride="carousel" data-bs-interval="2000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a id="fbred" href="https://www.facebook.com/WorldEmb/reviews">  <div class="card" style="width: 18rem;" >
        <img src="/assets/client1.jpg" class="rounded-circle" alt="Cinque Terre" width="100px" height="100px" style="margin-left: 35%;">
        <div class="card-body">
          <h5 class="card-title">Melisa Rios Monk</h5>
          <p class="card-text">Great to work with and very patient with client. 
            Thank you again!</p>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
         
        </div>
      </div></a>
      
    </div>
    <div class="carousel-item">
      <a id="fbred" href="https://www.facebook.com/WorldEmb/reviews">   <div class="card" style="width: 18rem;" >
        <img src="/assets/client3.jpg" class="rounded-circle" alt="Cinque Terre" width="100px" height="100px" style="margin-left: 35%;">
            <div class="card-body">
              <h5 class="card-title">Tasha Booke </h5>
              <p class="card-text">Quick response time and loved the way the image turned out. </p>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
             
            </div>
      </div></a>
    </div>
    <div class="carousel-item">
      <a id="fbred" href="https://www.facebook.com/WorldEmb/reviews">    <div class="card" style="width: 18rem;" >
        <img src="/assets/client2.jpg" class="rounded-circle" alt="Cinque Terre" width="100px" height="100px" style="margin-left: 35%;">
            <div class="card-body">
              <h5 class="card-title">Jonie Mallett </h5>
              <p class="card-text">They do great work and have a fast turn around time. 
                Thank you!!</p>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              
            </div>
      </div></a>
      
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
