/* You can add global styles to this file, and also import other style files */ 
body{
   
    background-color : #5694CB !important;
    overflow-x: hidden;
} 

*{
    font-family: 'Quicksand';
    font-weight: bold;
}